/* main.css */


html,
body {
    height: 100%;
    font-weight: 300;
}
wrapper {
    min-height: 100%;
    position: relative;
}




.cover-caption p {
    padding: 1.4rem;
}

.container-fluid {
    padding: 1rem;
}



footer#homeFooter,
footer#footer {
    background: url("../images/footer.jpg") top center no-repeat;
    background-size: cover;
    padding: 0.5rem;
    height: auto;
}

footer#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}






h2,
.lead a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: cadetblue;
}

hr#favorites {
    max-width: 14rem;
    min-width: 14rem;
    margin: 0 auto;
}

li.active {
    background-color: whitesmoke;
}

.list-inline li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
}

.list-group-item h5 {
    border-bottom: 2px solid burlywood;
}

#main-wrapper {
    text-align: center;
    color: white;
    align-content: center;
    height: auto;
    padding: 1.4rem;
}

main.landing {
    background: url("../img/aaa.jpg") bottom center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}





.navbar-brand{
    font-family: 'Lemon';
    font-size: 18px;
}


@media screen and (max-width: 1000px) and (min-width: 150px) {
    .display-3 {
        font-size: 3rem;
    }
}